







<footer class="text-black-50 my-xl-5 ">


    <div class="container">
        <div class="row" style="text-align: center">
            <div class="col-md-3 col-lg-4 col-xl-3" >
                <h5>About</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <p class="mb-0 text-success" style="text-align: justify">
                    This project is part of the project assignment in the subject of Web Programming,
                    created by Mila Dodevska, Damjan Denkovski and Nikola Nushev.
                </p>
            </div>
            <div class="col-md-4 col-lg-3 col-xl-3">
                <h5>Contact</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled text-success">
                    <li><i class="fa fa-home mr-2"></i> Hotel MIDAN</li>
                    <li><i class="fa fa-envelope mr-2"></i> contact@midan.com</li>
                    <li><i class="fa fa-phone mr-2"></i> +389 78 264 005</li>
                    <li><i class="fa fa-print mr-2"></i> +389 78 264 004</li>
                </ul>
            </div>


            <div class="col-md- col-lg-2 col-xl-2 mx-auto">
                <h5>Find us on</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><a class="mx-2" href="#"><i class="bi bi-facebook text-success"></i></a></li>
                    <li> <a class="mx-2" href="#"><i class="bi bi-github text-success"></i></a></li>
                    <li><a class="mx-2" href="#"><i class="bi bi-linkedin text-success"></i></a></li>
                </ul>
            </div>



            <div class="col-md-4 col-lg-3 col-xl-3">
                <h5>Our Location</h5>
                <div id="map">

                </div>
            </div>

<!--            <div class="col-md-4 col-lg-3 col-xl-3">-->
<!--                -->

<!--            </div>-->



        </div>
    </div>

</footer>
</body>
