<th:block xmlns:th="http://www.thymeleaf.org">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">HOTEL MIDAN</h1>
            <h3>Add new offer</h3>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <form action="/offers/add" method="POST">
                    <input id="id" type="hidden" name="id" th:value="(${offer} != null ? ${offer.getId()} : '')">
                    <div class="form-group">
                        <label for="offerName">Name</label>
                        <input type="text"
                               class="form-control"
                               id="offerName"
                               name="offerName"
                               th:value="(${offer} != null ? ${offer.getOfferName()} : '')"
                               required
                               placeholder="Enter offer name">
                    </div>
                    <div class="form-group">
                        <label for="offerFor">Room</label>
                        <input type="text"
                               class="form-control"
                               id="offerFor"
                               name="offerFor"
                               th:value="(${offer} != null ? ${offer.getOfferFor()} : '')"
                               placeholder="Room">
                    </div>
                    <div class="form-group dropdown">
                        <label for="type">Type</label>
                        <select id="type" name="type" class="form-control">
                            <option value="">Choose offer type</option>
                            <option th:each="offer : ${T(com.example.midan.model.Enumerations.OfferType).values()}" th:value="${offer}" th:text="${offer}"></option>
                        </select>
                    </div>
                    <button id="submit" type="submit" class="btn btn-dark">Submit</button>
                    <a type="button" class="btn btn-dark" href="/offers">Back</a>
                </form>
            </div>
        </div>
    </div>
</th:block>