<th:block xmlns:th="http://www.thymeleaf.org">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">HOTEL MIDAN</h1>
            <h3>All employees</h3>
        </div>
    </section>

    <div class="container">
        <div class="col mb-3">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <a href="/employees/add-form" class="btn btn-secondary bi bi-plus-circle float-right">&nbsp;New employee</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container mb-4">
        <div class="row">
            <div class="col-12" th:if="${employees.size() > 0}">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">EMBG</th>
                            <th scope="col">Name</th>
                            <th scope="col">Surname</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone Number</th>
                            <th scope="col">Age</th>
                            <th scope="col">Address</th>
                            <th scope="col">Department</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="employee : ${employees}" class="employee">
                            <td th:text="${employee.getEmbg()}"></td>
                            <td th:text="${employee.getName()}"></td>
                            <td th:text="${employee.getSurname()}"></td>
                            <td th:text="${employee.getEmail()}"></td>
                            <td th:text="${employee.getPhoneNumber()}"></td>
                            <td th:text="${employee.getAge()}"></td>
                            <td th:text="${employee.getAddress()}"></td>
                            <td th:text="${employee.getDepartment()}"></td>
                            <td class="text-right">
                                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                    <form th:action="@{'/employees/delete/{id}' (id=${employee.getId()})}"
                                          th:method="DELETE">
                                        <button type="submit" class="float-right btn bi bi-trash"></button>
                                    </form>
                                </th:block>
                                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                    <a th:href="@{'/employees/edit/{id}' (id=${employee.getId()})}"
                                       class="float-right btn bi bi-pencil-square"></a>
                                </th:block>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <br>
</th:block>