<section class="jumbotron text-center">
    <div class="container">
        <div class="row">
            <div class="col-auto mx-auto">
            <h1 class="jumbotron-heading">HOTEL MIDAN</h1>
            </div>
            <div class="col-auto mx-auto">
                <i class="bi bi-star-fill text-warning"></i>
                <i class="bi bi-star-fill text-warning"></i>
                <i class="bi bi-star-fill text-warning"></i>
                <i class="bi bi-star-fill text-warning"></i>
                <i class="bi bi-star-fill text-warning"></i>
            </div>
        </div>
        <img src="https://cdn.britannica.com/96/115096-050-5AFDAF5D/Bellagio-Hotel-Casino-Las-Vegas.jpg">
    </div>
</section>