<th:block xmlns:th="http://www.thymeleaf.org">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">HOTEL MIDAN</h1>
            <h3>All offers</h3>
        </div>
    </section>

    <div class="container">
        <div class="col mb-3">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <a href="/offers/add-form" class="btn btn-secondary bi bi-plus-circle float-right" sec:authorize="hasRole('ROLE_ADMIN')">&nbsp; New offer</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container mb-4">
        <div th:if="${offers.size() > 0}">
            <div class="card-deck">
                <div th:each="offer : ${offers}">
                    <div class="card" style="width: 20rem; margin:15px;">
                        <div class="card-body">
                            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                <form th:action="@{'/offers/delete/{id}' (id=${offer.getId()})}"
                                      th:method="DELETE">
                                    <button type="submit" class="float-right btn bi bi-trash"></button>
                                </form>
                            </th:block>
                            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                <a th:href="@{'/offers/edit/{id}' (id=${offer.getId()})}" class="float-right btn bi bi-pencil-square"></a>
                            </th:block>
                            <h3 class="card-title" th:text="${offer.getOfferName()}"></h3><hr>


                            <p class="card-text text-danger" th:text="${offer.getOfferPrice()}">SALE</p>
                            <small><p class="card-text" th:text="${offer.getType()}"></small></p>

                            <form th:action="@{'/shoppingCart/add-offer/{id}' (id=${offer.getId()})}"
                                  th:method="POST"
                                  sec:authorize="hasRole('ROLE_USER')">
                                <button type="submit" class="btn bi bi-cart btn-success center float-right"></button>
                                <br>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</th:block>