<th:block xmlns:th="http://www.thymeleaf.org">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">HOTEL MIDAN</h1>
            <h3>All rooms</h3>
        </div>
    </section>

    <div class="container mb-4">
        <div th:if="${rooms.size() > 0}">
            <div class="card-deck">
                <div th:each="room : ${rooms}">
                    <div class="card text-success" style="width: 20rem; margin:10px;">
                        <img class="card-img-top" style="height: 139px;" th:src="${room.getImageUrl()}" alt="Card image cap">
                        <div class="card-body">
                            <h3 class="card-title text-uppercase" th:text="${room.getName()}"></h3><hr>
                            <p class="card-text" th:text="${room.getPrice()}"></p>
                            <small><p class="card-text" th:text="${room.getType()}"></small></p>
                            <a href="#" class="btn btn-dark">Add to card</a>

                            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                <form th:action="@{'/rooms/delete/{id}' (id=${room.getId()})}"
                                      th:method="DELETE">
                                    <button type="submit"
                                            class="btn btn-sm btn-danger delete-room">
                                        <i class="fa fa-trash">Delete</i>
                                    </button>
                                </form>
                            </th:block>
                            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                <a th:href="@{'/rooms/edit/{id}' (id=${room.getId()})}"
                                   class="btn btn-sm btn-info edit-room">
                                    <i class="fa fa-trash">Edit</i>
                                </a>
                            </th:block>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--    <th:block sec:authorize="hasRole('ROLE_ADMIN')">-->
<!--        <form th:action="@{'/rooms/delete/{id}' (id=${room.getId()})}"-->
<!--              th:method="DELETE">-->
<!--            <button type="submit"-->
<!--                    class="btn btn-sm btn-danger delete-room">-->
<!--                <i class="fa fa-trash">Delete</i>-->
<!--            </button>-->
<!--        </form>-->
<!--    </th:block>-->
<!--    <th:block sec:authorize="hasRole('ROLE_ADMIN')">-->
<!--        <a th:href="@{'/rooms/edit-form/{id}' (id=${room.getId()})}"-->
<!--           class="btn btn-sm btn-info edit-room">-->
<!--            <i class="fa fa-trash">Edit</i>-->
<!--        </a>-->
<!--    </th:block>-->

    <div class="container">
        <div class="col mb-3">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <a href="/rooms/add-form" class="btn btn-block btn-dark add-room-btn">Add new room</a>
                </div>
            </div>
        </div>
    </div>
    <br>
</th:block>